@charset "UTF-8";

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: sans-serif;
}


table, th, tr, td {
    border: 1px solid #000;
    border-spacing: 0;
    box-sizing: border-box;
}

th, td{
    padding: 16px 10px;
}